* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto-Condensed, sans-serif;
}

.column {
    text-align: center;
    font-weight: bold;
}

body {
    background-color: #fafafa
}

input {
    text-align: center;
}